.header__about{
    h2{
        padding: .8rem 0 .4rem 0;
    }
    
}
.header-textContainer{
    width: 100%;
    margin: 0 auto;
}
.p__about{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    p{
        width: 70%;
        padding: 1rem 0 1.2rem 0;
        margin: 0 auto;
        font-weight: 500;
        line-height: 1.5;
        text-align: justify;
    }
}
.person__about{
    width: auto;
    text-align: center;

    img{
        width: 50%;
        align-self: center;
        padding: 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border: 1px solid #d3e0ea;
    }
    h5{
        font-size: .9rem;
        margin: 0 auto;
        padding: .5rem 0;
    }
    p{
        width: 50%;
        margin: 0 auto;
        font-size: .7rem;
        text-align: center;
    }
}