.hero__container{
    width: $w100!important;
    height: 85vh!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__background{
    // background-image: url("/img/ECP-background.jpg") ;
    @extend %background;
    
    // display: flex;
    // justify-content: center;
    // align-items: center;
    max-width: $w100;
    position: relative;
    height: 100%;

    &:after{
        content: ' ';
        background-color: rgba(0, 0, 0, .7);
        position: $abs;
        left: 0;
        top: 0;
        width: $w100;
        height: 100%;
    }
}
@media only screen and (min-width:768px){
    .hero__background{
        background-attachment: fixed;
    }
}

.hero__content{
    color: map-get($colors, first);
    width: $w100;
    @include flexbox(flex, column);
    justify-content: center;
    position: absolute;
    padding: 3.4rem 0 0 0;
    h1{
        
        align-self: center;
        padding-bottom: 2rem;
        z-index: 1;
    }
    button{
        align-self: center;
        z-index: 1;
    }
}

.button{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;

    overflow: hidden;
    
    margin: 0 auto;
    padding: .5rem;
  
    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    
    text-transform: none;
    text-transform: capitalize;
    
    background-color: map-get($colors, third);
    border: 0 none;
    border-radius: 1.5rem;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.5;
  
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    
    box-shadow: 1px 4px 8px map-get($colors, fourth);
    a{
        align-self: center;
        text-decoration: none;
        font-size: .9rem;
        color: map-get($colors, first);
    }
    // &:hover{
                
    //     background-color: map-get($colors, second);
    //     border: 1px solid rgba(0,0,0,0.4);
    //     box-shadow:  0 6px 22px rgba(0,0,0,0.1);
    //     transition: all .2s ease-in-out;
    //     -moz-transition: all .2s ease-in-out;
    //     -webkit-transition: all .2s ease-in-out;
    //     a{
    //         color: map-get($colors, third);
    //     }
    // }
    &:hover{
        background-color: map-get($colors, second);
        // border: 1px solid rgba(0,0,0,0.4);
        opacity: .85;
        transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        a{
             color: map-get($colors, third);
        }
    }
    &:active{
        transition: all 150ms linear;
        opacity: .75;
    }
    &:focus{
        outline: 1px #959595;
        outline-offset: -4px;
    }
}



/* mobile */
@media only screen and (max-width:420px){
    .hero__background{
        width: 100%;
        height: 100%;
    }
    .hero__content{
        width: 70%;
    }
    .hero__content h1{
        font-size: 2rem;
        text-align: center;
        margin: 0 auto;
    }
    .button{
        padding: .4rem!important;
    }
}
@media only screen and (min-width:421px) and (max-width:568px){
    .hero__background{
        width: 100%;
        height: 100%;
    }
    .hero__content{
        width: 100%;
    }
    .hero__content h1{
        font-size: 2rem;
        text-align: center;
        margin: 0 auto;
    }
    .button{
        padding: .4rem!important;
    }
}
/*intermediate*/
@media only screen and (min-width: 569px) and (max-width:768px){
    .hero__background{
        width: 100%;
        height: 100%;
    }
    .hero__content h1{
        font-size: 2.5rem;
    }
    .button{
        padding: .4rem!important;
    }
}

