.h2__newsletter{
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
}

.article{
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    // align-content: center;
    h4{
        font-size: 1.1rem;
        font-weight: 600;
    }
    p{
        font-size: .9rem;
        text-align: justify;
        margin: 0;
    }
    a{
        font-size: .9rem;
        text-decoration: none;
    }
    
    .newsletter-news{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .newsletter-button{
            width: auto!important;
            // justify-self: flex-end;
            height: auto!important;
            // margin: 0 auto;
            color: #fff;
            background-color: map-get($colors, third);
            border: none;
            border-radius: 30px;
            padding: .4rem!important;
            font-size: .8rem!important;
            &:hover{
                color: rgb(235, 232, 232);
                background-color: map-get($colors, fourth);
                box-shadow:  0 6px 22px rgba(0,0,0,0.1);
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
            }
            &:focus{
                box-shadow: none!important;
            }
            a {
                    // font-size: .1rem!important;
                    font-weight: 500;
                    color: map-get($colors, first);
                    text-decoration: none!important;
            }
        }
    }
}
.middle-article{
    // padding-top: 1rem;
    border-top: 2px solid #d3e0ea;
    border-bottom: 2px solid #d3e0ea;
}
.news-p{
    background-color: map-get($colors, second);;
}
.reverse{
    h4{
        @include flexbox(flex, row-reverse);
    }
}
.news-aside{
    height: 100%;
    border: 1px solid map-get($colors, second);
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
}


@media only screen and (max-width: 767px) {
    .news-aside{
        display: none;
    }
}
.twitter-api iframe{
    width: 100%!important;
    height: 100%!important;
}
.news-sites{
    @include flexbox(flex, row);
    justify-content: space-around;
    align-items: flex-end;
    margin: 1rem 0 0 0;
    // padding: 1rem 0;
    border-top: 3px solid #d3e0ea;
    border-bottom: 3px solid #d3e0ea;
    h4{
        font-size: 1.1rem;
        align-self: center;
    }
    ul{
        list-style: none;
        li{
            a{
                text-decoration: none;
                font-size: .8rem;
                color: map-get($colors, fourth);
                transition: all 250ms;
                &:hover{
                    font-weight: bolder;                    
                }
            }
        }
    }
}
