.our__study{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    h2{
        width: 75%;
        font-weight: 800;
        margin: 0 auto;
        padding-bottom: .7rem;
        text-align: left;
    }
    p{
        width: 75%;
        font-size: .9rem;
        font-weight: 200;
        line-height: 1.5;
        margin: 0 auto;
        text-align: justify;
    }
    .new-button-container{
        align-self: center;
        .new-button{
            width: auto;
            height: auto;
            
            background-color: map-get($colors, third);
            border: none;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            padding: .4rem!important;
            &:hover{
                
                background-color: map-get($colors, second);
                border: 1px solid rgba(0,0,0,0.4);
                box-shadow:  0 6px 22px rgba(0,0,0,0.1);
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                a{
                    color: map-get($colors, third);
                }
            }
            a {
                    font-size: .8rem;
                    font-weight: 500;
                    color: map-get($colors, first);
                    text-decoration: none!important;
            }
        }
    }
    
}



.testimonio{
    color: map-get($colors, first);
    width: 80%;
    height: 100%;
    margin: 0 auto;
    img{
        width: 3rem;
        height: 2.5rem;
        padding: .5rem;
    }
    .comentario{
        .p-testimonio{
            font-size: 1.1rem;
        }
        footer{
            font-size: 1rem;
            font-weight: 700;
        }
    }

    
}


@media only screen and (max-width:480px){
    .blockquote-container{
        .testimonio{
            width: 95%;
        }
        blockquote{
            height: 288px;
        }
    }
}
@media only screen and (min-width:481px) and (max-width: 576px){
    .blockquote-container{
        blockquote{
            height: 258px;
        }
    }
}
@media only screen and (min-width:577px) and (max-width: 767px){
    .blockquote-container{
        blockquote{
            height: 210px;
        }
    }
}
@media only screen and (min-width:768px) and (max-width: 990px){
    .blockquote-container{
        blockquote{
            height: 330px;
        }
    }
}
@media only screen and (min-width:991px) and (max-width: 1280px){
    .testimonio{
        width: 75%;
    }
    .blockquote-container{
        blockquote{
            height: 240px;
        }
    }
}
@media only screen and (min-width: 1281px){
    .testimonio{
        width: 75%;
    }
    .blockquote-container{
        blockquote{
            height: 120px;
        }
    }
}
