.header__services{
    // background-image: url("/img/services.jpg");
    // @extend %background;
    width: $w100;
    height: 20vh;
    position: $rel;
    display: flex;
    justify-content: center;
    // &:after{
    //     content: ' ';
    //     background-color: rgba(0, 0, 0, .3);
    //     position: $abs;
    //     left: 0;
    //     top: 0;
    //     width: $w100;
    //     height: 100%;
    // }
    h2{
        color: map-get($colors, fourth );
        margin: 0 auto;
        position: $abs;
        align-self: center;
        z-index: 1;
    }
}

.services{
    width: $w100 - 20;
    height: 90%;
    margin: 1rem auto;
    padding: 1rem;
    @include flexbox(flex, column);
    justify-content: center;
    align-items: center;
    // transition: all 250ms;
    border-radius: 4px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.09);
	transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    &:hover{
        transform: scale(1.02);
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
        z-index: 1;
    }
    img{
        width: $w100 - 80;
        margin: 0 auto;
        padding-bottom: .5rem;
    }
    h4{
        padding-bottom: .4rem;
        font-weight: 500;
    }
    p{
        width: 90%;
        height: 80%;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
    }
}